<footer class="menu">
  <div class="iconSize">
    <img
      class="cursor-pointer"
      src=" ../../../../../../../../assets/Resources/ic_camera.svg"
      alt="heart"
    />
    <h5>Scan</h5>
  </div>
  <div class="iconSize">
    <img
      class="cursor-pointer"
      src=" ../../../../../../../../assets/Resources/ic_eye.svg"
      alt="heart"
    />
    <h5>Festivals</h5>
  </div>
  <div class="iconSize">
    <img
      class="cursor-pointer"
      src=" ../../../../../../../../assets/Resources/ic_megaphone.svg"
      alt="heart"
    />
    <h5>News</h5>
  </div>
  <div class="iconSize">
    <img
      class="cursor-pointer"
      src=" ../../../../../../../../assets/Resources/ic_heart.svg"
      alt="heart"
    />
    <h5>Favs</h5>
  </div>
</footer>
