<header>
  <section class="bg-orange-300 w-full">
    <div class="grid pt-3">
      <div class="col-2 flex justify-content-center">
        <div>
          <img
            class="cursor-pointer"
            src=" ../../../../../../../../assets/Resources/ic_camera.svg"
            alt="heart"
          />
          <h5>Scan</h5>
        </div>
      </div>
      <div class="col-offset-8 col flex justify-content-center">
        <div
          class="bg-gray-200 border-circle h-2rem w-2rem cursor-pointer flex flex-wrap align-content-center justify-content-center"
        >
          <i class="pi pi-user"></i>
        </div>
      </div>
    </div>
    <div class="grid pb-3">
      <div class="col-12 grid py-0">
        <h1 class="col flex flex-wrap align-content-center">INCADAQUÉS 2020</h1>
        <div
          class="flex justify-content-center align-content-center flex-wrap col-2"
        >
          <img
            class="svg"
            src="../../../../assets/Resources/ic_heart_fill.svg"
            alt="heart"
          />
        </div>
      </div>
      <div>
        <p class="pl-3 text-xs">15-25 OCTOBER 2020</p>
      </div>
    </div>
  </section>
  <nav class="flex">
    <div class="text-center m-2">
      <div
        class="flex flex-wrap justify-content-center align-content-center ml-1 h-3rem w-3rem border-circle bg-orange-300 cursor-pointer"
      >
        <img
          src=" ../../../../../../../../assets/Resources/ic_calendar.svg"
          alt="heart"
        />
      </div>
      <h5 class="mt-1">Program</h5>
    </div>
    <div class="text-center m-2">
      <div
        class="flex flex-wrap justify-content-center align-content-center ml-1 h-3rem w-3rem border-circle bg-gray-400 cursor-pointer"
      >
        <img
          src=" ../../../../../../../../assets/Resources/ic_frame.svg"
          alt="heart"
        />
      </div>
      <h5 class="mt-1">Artworks</h5>
    </div>
    <div class="text-center m-2">
      <div
        class="flex flex-wrap justify-content-center align-content-center ml-1 h-3rem w-3rem border-circle bg-yellow-600 cursor-pointer"
      >
        <img
          src=" ../../../../../../../../assets/Resources/ic_pin.svg"
          alt="heart"
        />
      </div>
      <h5 class="mt-1">Map</h5>
    </div>
  </nav>
</header>
