/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@200;600&display=swap');


body {
    margin: 0;
}

h1, h3 {
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    margin: 0;
}

h5 {
    margin: 0;
    font-weight: 100;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.customImage {
    display: flex;
    overflow: hidden;
    align-items: center;

}

.svg {
    width: 2.5rem;
    height: 2.5rem;
}

.grid {
    margin: 0;
}