<app-header></app-header>
<div class="pb-7 flex justify-content-center w-full" *ngIf="data.results.length > 0; else loading">
    <div class="grid m-0">
        <div class="col p-0">
            <div class="pt-1" *ngFor="let photographer of data.results">
                <app-photographer-card class="cursor-pointer" [photographer]="photographer"></app-photographer-card>
            </div>
            <div class="flex justify-content-center">
                <app-loading [showClasses]="false" *ngIf="loadingData"></app-loading>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
<app-menu></app-menu>